<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trd.springcloud.dao.DeptDao">
    <!--添加-->
    <insert id="addDept" useGeneratedKeys="true" keyProperty="deptno">
        INSERT INTO dept(dname,db_source) VALUES (#{dname},DATABASE())
    </insert>
    <!--查询一条记录-->
    <select id="findById" resultType="Dept">
       SELECT * FROM  dept WHERE  deptno = #{id}
    </select>
    <!--查询所有-->
    <select id="findAll" resultType="com.trd.springcloud.entities.Dept">
        SELECT * FROM  dept
    </select>

</mapper>